html{
  scroll-behavior: smooth;
}

body {
  font-family: 'fantasy', 'Luminari';
  background-image: url("../images/bg.jpg");
}
header {
  position: relative;
}
.header {
  z-index: 10;
  position: sticky;
  top:0px;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 1px 16px;
  background-color: rgb(21, 32, 44, 0.9);
}
.bar {
  z-index: 10;
  position: sticky;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 1px 16px;
  height: 80px;
  background-color: rgba(47, 61, 77, 0.9);
}
.square{
  position: sticky;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px outset;
  padding: 1px 16px;
  background-color: rgba(255, 255, 255, 0.9);
}
.list{
  size: 110px;
}
.list__item {
  color: aliceblue;
  display: inline-block;
  font-size: 50px;
}
.orange-block {
  color: #e70;
}
.bar-text{
  padding: 11px 11px;
  color: rgba(255, 255, 255, 0.9);
  background-color:  rgb(21, 32, 44, 0.9);
  border: none;
  font-size: 120%;
  text-align: center;
}
.bar-text-sections{
  padding: 1px 23px;
  color: rgba(255, 255, 255, 0.9);
  border: none;
  font-size: 180%;
  text-align: center;
}
main {
  margin-top: 0em;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 5%;
  width: 100%;
  font-size: 1.3em;
  color: rgba(0, 0, 0, 0.9);
  background-color:  rgba(228, 6, 36, 0);
  border: none;
  text-align: center;
}
.name {
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: lighter;
  color: rgb(0, 0, 0);
}
.title{
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
  color: rgb(0, 0, 0);
}
.subtitle {
  width: 100%;
  display: block;
  text-align: inherit;
  font-size: 0.4em;
  line-height: 3em;
  color: rgb(0, 0, 0);
}
.subtitle a{
  display: block;
  text-align: inherit;
  font-weight: bold;
  font-size: 1em;
  line-height: 3em;
  color: rgb(0, 0, 0);
}
.text-square{
  display: block;
  text-align: inherit;
  font-weight: bold;
  font-size: 0.6em;
  line-height: 3em;
  color: rgb(0, 0, 0);
}

.social-medias a {
  all: unset;
  cursor: pointer;
  align-content: center;
}
div.technologies {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}
.caption {
  font-weight: bold;
  font-size: 0.4em;
  display: block;
}
* {
  color: #222222;
}
section{
  position: sticky;
}
#sec1{
  height:   95vh;
}
#sec3{
  height:   100vh;
}

@media screen and (max-width: 569px) {
  .name{
    font-size: 2em;
  }

  .social-medias {
    font-size: 2.5em;
  }

  .subtitle{
    font-size: 0.3em;
  }
}

@media screen and (max-width: 320px) {
  .image-container {
    width: 150px;
    height: 150px;
    bottom: -75px;
    left: -webkit-calc(50% - 75px);
    left: -moz-calc(50% - 75px);
    left: calc(50% - 75px);
  }
}

@media screen and (max-height: 520px) {
  footer {
    right: 0;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    padding-bottom: 0;
  }

  .social-medias {
    font-size: 2.5em;
  }
}