body {
  font-family: 'fantasy', 'Luminari';
  background-image: url("../images/back_g.svg");
}


header {
  position: relative;
}
.header {
  position: sticky;
  top:0px;
  display: flex;
  align-items: center; justify-content: space-between;
  padding: 1px 16px;
  background-color: rgb(21, 32, 44, 0.9);
}
.list{
  size: 110px;
}
.list__item {
  color: aliceblue;
  display: inline-block;
  font-size: 50px;
}
.orange-block {
  color: #e70;
}
.bar-text{
  padding: 11px 11px;
  color: rgba(255, 255, 255, 0.9);
  background-color:  rgb(21, 32, 44, 0.9);
  border: none;
  font-size: 120%;
  text-align: center;
}
main {
  margin-top: 0em;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 5%;
  width: 100%;
  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.9);
  background-color:  rgba(228, 6, 36, 0);
  border: none;
  text-align: center;
}
.name {
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: lighter;
  color: rgb(255, 255, 255);
}
.title{
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
  color: rgb(226, 226, 226);
}
.subtitle {
  width: 100%;
  display: block;
  text-align: inherit;
  font-size: 0.4em;
  line-height: 3em;
  color: rgb(255, 255, 255);
}

.subtitle a{
  display: block;
  text-align: inherit;
  font-weight: bold;
  font-size: 1em;
  line-height: 3em;
  color: rgb(255, 255, 255);
}

.social-medias a {
  all: unset;
  cursor: pointer;
  align-content: center;
}

* {
  color: #222222;
}

@media screen and (max-width: 569px) {
  .name{
    font-size: 2em;
  }

  .social-medias {
    font-size: 2.5em;
  }

  .subtitle{
    font-size: 0.3em;
  }
}

@media screen and (max-width: 320px) {
  .image-container {
    width: 150px;
    height: 150px;
    bottom: -75px;
    left: -webkit-calc(50% - 75px);
    left: -moz-calc(50% - 75px);
    left: calc(50% - 75px);
  }
}

@media screen and (max-height: 520px) {
  footer {
    right: 0;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    padding-bottom: 0;
  }

  .social-medias {
    font-size: 2.5em;
  }
}